<html>
    <head>
        <meta http-equiv="refresh" content="5">
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
        <meta charset="utf-8" />
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Task List</title>

    </head>

    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Lili</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/h5/video/list">Video List</a></li>
                    <li><a href="/h5/task/list">Task List</a></li>
                    <li><a href="/h5/task/add">Task Add</a></li>
                    <li><a href="/h5/parsing/">Online Parsing</a></li>
                </ul>
            </div>
            </div>
        </nav>
        <div class="container">
            {% for name,rate in tasks %}
                <div class="row">
                    <div class="col-md-5 col-xs-5">
                        <p>{{ name }}</p>
                    </div>
                    <div class="col-md-7 col-xs-7">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" 
                                aria-valuemin="0" aria-valuemax="100" style="width: {{ rate }};">
                            </div>
                        </div>
                    </div>
                </div>
            {% end %}
        </div>
    </body>
</html>
